---

# SPDX-FileCopyrightText: 2024 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

include:
  - project: "univention/dev/nubus-for-k8s/common-ci"
    ref: "v1.53.1"
    file:
      - "defaults/nubus-workflow.yaml"
      - "defaults/stages.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/container-build.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-external.yaml"
      - "templates/pip-package-and-publish.yaml"

.lint-pre-commit:
  before_script:
    - helm repo add bitnami https://charts.bitnami.com/bitnami

container-build:
  variables:
    IMAGE_NAME: testrunner
    KANIKO_BUILD_CONTEXT: $CI_PROJECT_DIR

package-helm-charts:
  variables:
    # TODO: The udpate script is failing
    SKIP_UPDATE_HELM_VALUES: "true"
  before_script:
    - helm repo add bitnami "https://charts.bitnami.com/bitnami"
  after_script:
    # TODO: Needs a way to select which charts to package.
    #
    # We have a few charts for testing purposes and do not want them to be published
    # as a package.
    - rm -f packages/dev/test-*
    - rm -f packages/public/test-*
    - |
      echo "Left packages after cleanup"
      echo "Development files generated:"
      ls -l packages/dev
      echo "Public files generated:"
      ls -l packages/public

test-chart-nubus-common:
  stage: test
  image: "${CI_REGISTRY_IMAGE}/testrunner:${RELEASE_VERSION}"
  before_script:
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - helm dep build helm/nubus-common
  script:
    - pytest -v tests/nubus-common

test-chart-test-client-config:
  stage: test
  image: "${CI_REGISTRY_IMAGE}/testrunner:${RELEASE_VERSION}"
  before_script:
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - helm dep build helm/nubus-common
  script:
    - pytest -v tests/client-config

test-pytest-helm-plugin:
  stage: test
  image: "${CI_REGISTRY_IMAGE}/testrunner:${RELEASE_VERSION}"
  script:
    - pytest pytest-helm/tests

test-helm-test-harness:
  stage: test
  image: "${CI_REGISTRY_IMAGE}/testrunner:${RELEASE_VERSION}"
  script:
    - pytest helm-test-harness/tests

build-and-publish-pip:
  extends: .build-and-publish-pip-package-with-uv
  parallel:
    matrix:
      - PACKAGE_ROOT: "pytest-helm"
      - PACKAGE_ROOT: "helm-test-harness"
