[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-helm = {ref = "main", git = "https://git.knut.univention.de/univention/customers/dataport/upx/tooling/pytest_helm.git"}
pyyaml = "*"
setuptools = "*"
pdbpp = "*"
python-jsonpath = "*"

[dev-packages]

[requires]
