{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

- **Version**: {{ template "chart.version" . }}
- **Type**: {{ template "chart.type" . }}
- {{ template "chart.homepageLine" . }}

## Introduction

This is a Test chart. The intended use is to verify and document the intended
usage patterns of the "common" chart's deployment template.

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSectionHtml" . }}
